body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
   
    
}
.main-heading{
    height: 500px;
    width: 100%;
   
    position:relative ;
    background-image: url(images/donation4.jpg);
    background-size:cover;
    background-position:center center;
    
}
.heading{
    position: absolute;
    top: 75px;
    left: 400px;
    width: 500px;
    
}
.heading-text{
    font-size: 35px;
    font-weight: 700;
    line-height: 50px;
}
.heading p{   
    text-align:center;
    color:whitesmoke;
}
.link-button{
    position:absolute;
    left: 180px;
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
  
}